








::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track-piece{
      background-color: transparent;
}
 
::-webkit-scrollbar-thumb{
      background-color: rgba(0, 0, 0, 0.7); 
      border-radius: 5px;
      opacity: 0;
}








.modal .modal-content
{
    padding:2px;
}

        .modalBack{
            background-image:url(../img/j3.jpeg);
            background-size: cover;

        }

        .card{
            background: rgba(255,255,255,.8);

        }
          .card:after{
             content: '';
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            border-radius:inherit;
            -webkit-filter: blur(6px);
           
            
          }
        

        .btn-flat:focus, .btn-flat:hover {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: none;
        }        
          
        .shortRow{
            margin-bottom: 5px;
        }
        .circle.modalad{
            top: -20;
            left: 7%;
        }        
        .btn-flat{
                padding: 30px 2rem;
        }
        .modal.bottom-sheet {
             max-height: 90%;
        }        
        h5 {
            font-size: 1.64rem;
            line-height: 110%;
            margin: 1.82rem 0 .656rem 0;
        }
        label {
            font-size: 3rem;
            color: #21325a;
        }

        .circle {
            border-radius: 100%;
            border: 3px solid #028AC6;
            height: 200px;
            width: 200px;
            position: relative;
            overflow: hidden;
            transform: translate(0, 0);
        }

            .circle .liquid {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                display: -webkit-flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                color: #fff;
                font-size: 64px;
            }

            .circle .water {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
                background: #4D6DE3;
            }

            .circle .water_wave {
                width: 200%;
                position: absolute;
                bottom: 100%;
            }

            .circle .water_wave_back {
                right: 0;
                fill: #C7EEFF;
                -webkit-animation: wave-back 3s infinite linear;
                animation: wave-back 3s infinite linear;
            }

            .circle .water_wave_front {
                left: 0;
                fill: #4D6DE3;
                margin-bottom: -1px;
                -webkit-animation: wave-front 1.5s infinite linear;
                animation: wave-front 1.5s infinite linear;
            }

        @-webkit-keyframes wave-front {
            100% {
                -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
        }

        @keyframes wave-front {
            100% {
                -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
        }

        @-webkit-keyframes wave-back {
            100% {
                -webkit-transform: translate(50%, 0);
                transform: translate(50%, 0);
            }
        }

        @keyframes wave-back {
            100% {
                -webkit-transform: translate(50%, 0);
                transform: translate(50%, 0);
            }
        }
        .txt {
            position: absolute;
        }
.input-field input[type=text].valid {
             border-bottom: 1px solid #42a5f5;
             box-shadow: 0 1px 0 0 #42a5f5;
           }

        ul.dropdown-content.select-dropdown li span {
                    color: #42a5f5; /* no need for !important :) */
                }
        .input-field input[type=text]:focus + label {
                     color: #42a5f5;
                }
                /* label underline focus color */
                   .input-field input[type=text]:focus {
                     border-bottom: 1px solid #42a5f5;
                     box-shadow: 0 1px 0 0 #42a5f5;
                   }
            .cup {
                background-position: 0 -10px;
            }
            #cardpanel{
                padding-top:15%;
            }
            #logosize{
                height:13%;
                width:30%;
            }
            .card .card-content
            {
                padding-top: 32%;
                padding-bottom:32% ;
                padding-left: 15%;
            }

